{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "prettier.bracketSpacing": true,
    "prettier.endOfLine": "auto",
    "prettier.eslintIntegration": false
}
